<h1 class='mb-1 restaurant-show-title'>編輯餐廳 - {{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <form action="/restaurants/{{restaurant._id}}/edit" method="POST">

        <div class="mb-3">
          <label for="name" class="form-label">中文名稱</label>
          <input type="text" class="form-control" id="name" placeholder="餐廳中文名稱" name="name" required value={{restaurant.name}}>
        </div>

        <div class="mb-3">
          <label for="name_en" class="form-label">英文名稱</label>
          <input type="text" class="form-control" id="name_en" placeholder="餐廳英文名稱" name="name_en" required value={{restaurant.name_en}}>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">類別</label>
          <input type="text" class="form-control" id="category" placeholder="餐廳類別" name="category" list="categoryOptions" required value={{restaurant.category}}>
          <datalist id="categoryOptions">
            <option>美式</option>
            <option>咖啡</option>
            <option>中東料理</option>
            <option>日本料理</option>
            <option>義式餐廳</option>
          </datalist>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">照片</label>
          <input type="url" class="form-control" id="image" placeholder="餐廳照片連結" name="image" required value={{restaurant.image}}>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">地址</label>
          <input type="text" class="form-control" id="location" placeholder="餐廳地址" name="location" required value={{restaurant.location}}>
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">電話</label>
          <input type="tel" class="form-control" id="phone" placeholder="餐廳電話" name="phone" required value={{restaurant.phone}}>
        </div>

        <div class="mb-3">
          <label for="google_map" class="form-label">Google map 網址</label>
          <input type="url" class="form-control" id="google_map" placeholder="Google map 網址" name="google_map" required value={{restaurant.google_map}}>
        </div>

        <div class="mb-3">
          <label for="rating" class="form-label">評價</label>
          <input type="number" class="form-control" id="rating" name="rating" min="0" max="10" step="0.1" required value={{restaurant.rating}}>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">描述</label>
          <textarea rows="3" class="form-control" id="description" name="description" required>{{restaurant.description}}</textarea>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">儲存修改</button>
          <a href="/" class="text-decoration-none">
            <button type="button" class="btn btn-outline-secondary">返回首頁</button>
          </a>
          <button type="reset" class="btn btn-outline-danger">還原輸入</button>
        </div>
        
      </form>

    </div>
  </div>
</div>